{%load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png'%}" type="image/x-icon">

  <title>About</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css'%}" rel="stylesheet" />
    <style>
    .inline-content {
      display: flex;
      align-items: center; /* Optional, for vertical alignment */
    }
    .inline-content h3, .inline-content h4 {
      margin: 0; /* Remove default margin */
    }
    .inline-content h2 {
      margin: 0;
    }

    .inline-content a {
      margin-left: 10px;
      color: inherit; /* Inherit color from the parent element */
      text-decoration: none;
    }

    .inline-content a:hover {
      color: #FFFF00; /* Change to your desired color */
    }
   </style>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
{#        <img src="{% static 'images/about2.jpg'%}" alt="">#}
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  Pakistan
              </span>
            </a>
            <a href="" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +92-324-9586449
              </span>
            </a>
            <a href="" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                ahamdshah023@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                Ahmad Shah
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/about"> About</a>
                </li>
                {% if user.is_authenticated %}
                      <li class="nav-item">
                  <a class="nav-link" > Welcome , {{user.first_name}} </a>
                </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/logout"> Logout </a>
                  {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="/signup"> Signup </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/login"> Login </a>
                        </li>
                  {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="/project"> Projects </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="contact_bg_box">
      <div class="img-box">
        <img src="{% static 'images/pexels-otavio-4665064.jpg'%}" alt="">
      </div>
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          About me 
        </h2>
      </div>
      <div class="">
{#        <div class="row">#}
{#          <div class="col-md-7 mx-auto">#}
{#            <form action="#">#}
              <div class="contact_form-container">
                <div>
{#                  <div class ='inline-content'>#}
                      <h3>Professional Background :</h3>
                      <p>I am holding a degree of Computer Science and Artificial Intelligence from Ghulam Ishaq Khan Institute.
                      I possess a strong grip on Programming Fundamentals, Object Oriented Programming, HTML and CSS.
                      I also have expertise in Python while working with frameworks like Django and Flask. I can create, edit and update websites. </p>
                    
                    
                  </div>
                  <div>
{#                      <div class ='inline-content'>#}
                          <h3>Skills and Expertise: </h3>
                          <ul>
                            <li>API Integration</li>
  <li>Back-end Developer</li>
  <li>Web Hosting</li>
  <li>Database Management</li>
</ul>
                  </div>
                  <h3>Key projects : </h3>
                  <p>You can see my projects either by going to Projects section 
                  or by clicking <a href = '/project'>here</a></p>
                  <h3>Certifications: </h3>
                      <ul>
                          <li>Python for Data Science, AI & Development</li>
                          <li>Django for everybody</li>
                          <li>Web Application Technologies and Django</li>
                          <li>Building Web Applications in Django</li>
                          <li>Django Features and Libraries</li>
                          <li>Using JavaScript and JSON in Django</li>
                      </ul>
                  
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- info section -->
   <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
              
            <a class="navbar-brand" href="index.html">
              <span>
                Ahmad Shah
              </span>
            </a>
            <p>
              Thank you for visiting my website.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="">
                  Do checkout my upwork profile :
                </a>
              </li>
              <li>
                
              </li>
              <li>
                
              </li>
              <li>
                <a href="">
                  <i>Upwork.com/profile/ahmadshah</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Contact Me
            </h5>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Taxila Cantt, Pakistan
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +92-324-9586449
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                ahamdshah023@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="#">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->




  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="currentYear"></span> All Rights Reserved. Design by Ahmad Shah
     
    </p>
  </footer>
  <!-- footer section -->

  <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>
</body>

</html>
